<div class="container-fluid fh5co_header_bg">
    <div class="container">
        <div class="row">
            <div class="col-12 fh5co_mediya_center">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <script type="text/javascript"
                        src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
                            {
                                "symbols": [
                                    {
                                        "description": "WTI",
                                        "proName": "TVC:USOIL"
                                    },
                                    {
                                        "description": "XAU/USD",
                                        "proName": "TVC:GOLD"
                                    },
                                    {
                                        "description": "AUD/USD",
                                        "proName": "FX:AUDUSD"
                                    },
                                    {
                                        "description": "EUR/USD",
                                        "proName": "FX:EURUSD"
                                    },
                                    {
                                        "description": "GBP/USD",
                                        "proName": "FX:GBPUSD"
                                    }
                                ],
                                    "colorTheme": "dark",
                                        "isTransparent": false,
                                            "showSymbolLogo": true,
                                                "locale": "uk"
                            }
                        </script>
                </div>
                <!-- TradingView Widget END -->
                <!-- <div class="d-inline-block fh5co_trading_posotion_relative"><a href="/" class="treding_btn">
                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp; <%= new Date().toLocaleDateString(); %>
                    </a>
                    <div class="fh5co_treding_position_absolute"></div>
                </div>
                <a href="/login" class="color_fff fh5co_mediya_setting"> Hoag </a> -->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 fh5co_padding_menu">
                <a href="/">
                    <img src="/images/logo/test-log.png" alt="img" class="fh5co_logo_width" />
                </a>
            </div>
            <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                <div class="text-center d-inline-block">
                    <a class="fh5co_display_table">
                        <div class="fh5co_verticle_middle"><i class="fa fa-search"></i></div>
                    </a>
                </div>
                <div class="text-center d-inline-block">
                    <a class="fh5co_display_table">
                        <div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
                    </a>
                </div>
                <div class="text-center d-inline-block">
                    <a class="fh5co_display_table">
                        <div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div>
                    </a>
                </div>
                <div class="text-center d-inline-block">
                    <a href="https://twitter.com/fh5co" target="_blank" class="fh5co_display_table">
                        <div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
                    </a>
                </div>
                <div class="text-center d-inline-block">
                    <a href="https://fb.com/fh5co" target="_blank" class="fh5co_display_table">
                        <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="/"><img src="/images/logo/test-log.png" alt="img"
                    class="mobile_logo_width" /></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <% locals.headermenu.forEach(item=> { %>
                        <% if(item.active) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="<%= item.link %>">
                                    <%= item.name %> <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <% } %>
                                <% }); %>

                                    <% if (locals.user) { %>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin">
                                                Admin<span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout">
                                                Logout<span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <% } else {%>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/login">
                                                    Login<span class="sr-only">(current)</span>
                                                </a>
                                            </li>
                                            <% } %>

                                                <!-- Child menu
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton3" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Community<span
                                class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                            <a class="dropdown-item" href="#">Action in</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- <script>
    console.log('<%=locals.headermenu%>');
</script> -->