<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Blogs</div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" onclick="location.href='/admin/blog/create'">
                        Create New
                    </button>
                    <hr />
                    <table class="table" id="blog-table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">img_path</th>
                                <th scope="col">title</th>
                                <th scope="col">alt title</th>
                                <th scope="col">created_date</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% blogs.forEach(item=> { %>
                                <tr>
                                    <td>
                                        <img src="<%= item.display_img %>" style="height: 50px; width: auto;">
                                    </td>
                                    <th scope="row">
                                        <a href="/admin/blog/edit/<%= item._id %>" style="text-decoration: none; color: inherit;">
                                            <%= item.title %>
                                        </a>
                                    </th>
                                    <td>
                                        <%= item.alt_title %>
                                    </td>
                                    <td>
                                        <%= item.created_date.toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-secondary"
                                            onclick="location.href='/admin/blog/edit/<%= item._id %>'">
                                            Edit
                                        </button>
                                    </td>
                                </tr>
                                <% }); %>

                        </tbody>
                    </table>
                </div>
            </div>

            <%- include('../../partial/admin/menu.html'); %>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#blog-table').DataTable();
    });
</script>