<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-10 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Add new blog</div>
                </div>
                <button onclick="location.href='/admin/'">
                    Back
                </button>
                <hr />
                <div>
                    <form id="edit-blog-submit">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" id="title-input" value="<%= blog.title %>">
                        </div>
                        <div class="form-group">
                            <label>Alt Title</label>
                            <input type="text" class="form-control" id="alt-title-input" value="<%= blog.alt_title%>">
                        </div>
                        <div class="form-group">
                            <label>Display Image</label>
                            <input type="text" class="form-control" id="img-path-input" value="<%= blog.display_img %>">
                        </div>
                        <div class="form-group">
                            <label>Tags</label>
                            <select id="multi-select" placeholder="Select tags" multiple>
                                <% tags.map((item)=> { %>
                                    <option value="<%= item.id %>">
                                        <%= item.name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <textarea name="content-editor"></textarea>
                        </div>
                        <div class="alert alert-danger" role="alert" id="error-message">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <%- include('../../partial/admin/menu.html'); %>
        </div>
    </div>
</div>

<script src="/ckeditor/ckeditor.js"></script>
<script
    src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
<script>
    CKEDITOR.replace('content-editor');
    //console.log(data);
</script>
<script>
    $(document).ready(function () {
        var multipleCancelButton = new Choices('#multi-select', {
            removeItemButton: true
        });

        const data = `<%- blog.content %>`;

        CKEDITOR.instances['content-editor'].setData(data);

        $('#edit-blog-submit').on('submit', function (e) {
            e.preventDefault();
            let btn = $(':input[type="submit"]');
            btn.prop('disabled', true);

            const data = {
                title: $('#title-input').val(),
                alt_title: $('#alt-title-input').val(),
                content: CKEDITOR.instances['content-editor'].getData(),
                display_img: $('#img-path-input').val(),
                tags: $('#multi-select').val()
            };
            $.ajax({
                url: '/api/blog/<%= blog._id %>',
                type: 'PUT',
                data: data,
                success: function (response) {
                    location.reload();
                }
            });

            btn.prop('disabled', false);
        });
    });
</script>