<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-10 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Edit '<%= header.name %>' </div>
                </div>
                <div>
                    <form id="form-edit-headermenu">
                        <div class="form-group">
                            <label>Menu Name</label>
                            <input type="text" class="form-control" id="menu-name" placeholder="Menu name"
                                value="<%= header.name %>">
                        </div>
                        <div class="form-group">
                            <label>Menu Link</label>
                            <input type="text" class="form-control" id="menu-link" placeholder="Link"
                                value="<%= header.link %>">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="form-check-input" id="active-cbox">
                            <label class="form-check-label">Active</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <%- include('../../partial/admin/menu.html'); %>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        const checked = <%= header.active %>;

        $("#active-cbox").prop("checked", checked);

        $('#form-edit-headermenu').on('submit', (e) => {
            e.preventDefault();
            const data = {
                name: $('#menu-name').val(),
                link: $('#menu-link').val(),
                active: $('#active-cbox').is(":checked")
            }

            $.ajax({
                url: '/api/headermenu/<%= header._id %>',
                type: 'PUT',
                data: data,
                success: function (data) {
                    location.href = "/admin/headermenu";
                }
            });
        });
    });
</script>