<div id="fh5co-title-box" style="background-image: url('<%= blog.display_img %>'); background-position: 50% 90.5px;"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <img src="/images/avatar.png" alt="Free HTML5 by FreeHTMl5.co">
        <span>
            <%= author_name %>
        </span>
        <span>
            <%= blog.created_date.toLocaleDateString() %>
        </span>
    </div>
</div>


<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">

                <h1>
                    <%= blog.title %>
                </h1>
                <hr>
                <% tags.map(item=>{ %>
                    <span class="badge badge-pill badge-primary">
                        <a href="/tag/<%= item.slug %>" style="color: inherit;">
                            <%= item.name %>
                        </a></span>
                    <% }); %>
                        <hr>
                        <%- blog.content %>
            </div>
            <%- include('../../partial/client/tags.html'); %>
        </div>
    </div>
</div>
