<div class="container-fluid contact_us_bg_img">
    <div class="container">
        <div class="row">
            <a href="/" class="fh5co_con_123"><i class="fa fa-home"></i></a>
            <a href="#" class="fh5co_con pt-2"> NOT FOUND </a>
        </div>
    </div>
</div>
<div class="container-fluid mb-4">
    <div class="container">
        <div class="col-12 text-center contact_margin_svnit ">
            <div class="text-center fh5co_heading py-2">
                <hr />
                <h1>NOT FOUND 404</h1>
                <hr />
                <p><a href="/">return to home</a></p>
            </div>
        </div>
    </div>
</div>